<h1>New line_item</h1>

<%= render 'form' %>
<tr>
<td><%= line_item.quantity %>&times;</td>
<td><%= line_item.product.title %></td>
<td class="item_price" ><%= number_to_currency(line_item.total_price) %></td>
</tr>
<%= link_to 'Back', line_items_path %>



